<table id="board">
    <tr>
        <td id="a3" @click="move"></td>
        <td id="b3" class="vert" @click="move"></td>
        <td id="c3" @click="move"></td>
    </tr>
    <tr>
        <td id="a2" class="horiz" @click="move"></td>
        <td id="b2" class="vert horiz" @click="move"></td>
        <td id="c2" class="horiz" @click="move"></td>
    </tr>
    <tr>
        <td id="a1" @click="move"></td>
        <td id="b1" class="vert" @click="move"></td>
        <td id="c1" @click="move"></td>
    </tr>
</table>