<div id="info">
    <p><i class="fas fa-user mr-2"></i> {{ info.user }}</p>
    <p><i class="fas fa-key mr-2"></i> {{ info.key }}</p>
    <p><i class="fas fa-users mr-2"></i> {{ info.players }}/2</p>
</div>